/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/*
#!/vendor/codedge/laravel-fpdf/src/Fpdf/font/Segoe\ UI.z
!/vendor/codedge/laravel-fpdf/src/Fpdf/font/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/pdfs/*
storage/logs/*
